.titulo 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 54, 63);
    color: white;
    border-radius: 100px;
    border: 10px double rgb(27, 34, 49);
}
.nerdfodido 
{
    width: 10%;
    height: auto;
    max-height: 100px;
    border-radius: 1px;
}
.subtitulo 
{
    text-align: center;
    margin-top: 1px;
}
.container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.lado 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.anime
{
    width: 100%;
    max-width: 165px;
    height: 265px;
    max-height: 265px;
    text-align: center;
    border-radius: 10px;
}
.animetxt 
{
    text-align: center;
    margin-top: 10px;
    color: white;
}
.anime:hover 
{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.507);
    width: 175px;
    max-width: 100%;
    height: 275;
    max-height: 275px;
}
.fundo 
{
    background-color: rgb(34, 40, 49);
}
.fundoanime
{
    background-color: rgb(49, 54, 63);
    border-radius: 10px;
    border: 10px double  rgb(27, 34, 49);
}
.animein
{
    width: 16%;
    height: 14%;
    border-radius: 20px;
    margin-left: 130px;
    margin-right: 80px;
    display: inline-block;
    margin-bottom: 5px;
}
.logo
{
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.logoslime
{
    width: 10%;
    height: auto;
    display: block;
    margin: 0 auto;
   
}
.botao
{
    width: 40px;
    height: auto;
    border-radius: 20;
}
.botao:hover
{
    width: 40px;
    height: auto; 
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.507);
    border-radius: 20px;
}
.video
{
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
}
.txtautor
{
    border-radius: 20px;
    background-color: rgb(49, 54, 63);
    border: 10px double rgb(27, 34, 49);
    display: inline-block;
    font-size: 23px;
    color: rgb(215, 225, 252);
    text-align: left;
    padding: 5px;
}
.divisor
{
    border-top: 10px double rgb(27, 34, 49);
    border-bottom: 10px double rgb(27, 34, 49);
}